/*descendant selector*/
ul {
    font-size: xx-large;
    color:brown;
    background-color: blue; 
    
    height: 150px;
    text-align: center;
}
ul li{display: inline-block;
    padding-top: 70px;

}
ul li a{
     color: brown;
     background-color: blueviolet;
     padding: 15px;
     text-decoration: none;
     border-radius: 30px;
}