.container{
    height: 1200px;
    width: 90%;
    background-color:rgba(6, 6, 231, 0.993);
    margin: 0 auto;
}
.header{
    height: 250px ;
    width:100% ;
    
    color: black;
    text-align: center;

    

}
.nav{
    height: 50px;
    width: 100%;
    

}
.content{
    height: 750px;
    width: 100%;
    
    color: black;
}